@use "partials/roots";
@use "partials/nav";
@use "partials/products";
@use "partials/popUp";
@use "partials/receipt";
@use "partials/checkout";
@use "partials/bar";
@use "partials/form";
@use "partials/confirmation";
@use "partials/login";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  max-width: 100vw;
}

main {
}

#main-container {
  min-height: calc(100vh - var(--nav-height));
  max-height: calc(100vh - var(--nav-height));

  overflow: scroll;
  scroll-behavior: smooth;
  perspective: 2px;
  transition: 0.5s ease-in-out;
  position: fixed;
  top: calc(var(--nav-height));
  width: 100vw;
  max-width: 100vw;
}

#theBrew {
  display: none;
}
#theBar {
  display: block;
}
