@use "partials/roots";
#theBar {
  height: 100vh;

  .wrapper {
    overflow-x: scroll;

    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
    &::-webkit-scrollbar {
      display: none;
    }

    .sbLeft {
      background-color: var(--color-7);
      grid-column: 1 / span 2;
      grid-row: 1 / span 6;
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-rows: repeat(auto-fit, minmax(60px, 1fr));
      grid-template-columns: 100%;
      justify-items: center;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      font-weight: bold;
    }

    .sbRight {
      background-color: var(--color-7);
      grid-column: 11 / span 2;
      grid-row: 1 / span 6;
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-rows: repeat(auto-fit, minmax(60px, 1fr));
      grid-template-columns: 100%;
      justify-items: center;
      justify-content: center;
      align-items: center;
      p {
        font-size: 1.5rem;
      }
      .queue {
        text-align: center;
      }
      .progress {
        text-align: center;
      }
      .waittime {
        text-align: center;
      }
    }

    .sbBottom {
      background-color: var(--color-7);
      grid-column: 1 / span 12;
      grid-row: 7 / span 2;
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
      grid-template-rows: 100%;
      justify-items: center;
      justify-content: center;
      align-items: center;

      p {
        position: relative;
        top: 50%;
        left: 44%;
      }
      .point {
        height: 100%;
        width: 100%;
        display: grid;
        justify-content: center;
      }
      .round {
        transform: rotate(90deg);
        transition: all 1s ease-in-out;

        /* SVG */
        fill: none;
        stroke: red;
        stroke-width: 14;
        stroke-linecap: round;
        stroke-dasharray: 0 999;
        circle {
          transition: all 1s ease-in-out;
          border: 1px solid black;
        }
      }
    }
    .mainSection {
      background-color: var(--color-7);
      grid-row: 1 / span 6;
      grid-column: 3 / span 8;
      height: 100%;
      width: 100%;

      .wrapper {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
      }
    }
  }
}
