@use "partials/roots";
#confirmation {
  justify-content: center;
  align-items: center;
  justify-items: center;
  position: absolute;
  display: none; // When active display: grid;
  grid-template-columns: (1fr);
  grid-template-rows: 250px auto;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f5f5f5;
  z-index: 3000;
  .theWaitTime {
    font-weight: bold;
    padding-top: 1rem;
  }
}

#confirmation a {
  display: grid;
  justify-content: center;
}

#confirmation img {
  height: 200px;
  max-height: 180px;
}

.confirmcontainer {
  justify-items: center;
  align-items: center;
  text-align: center;
  align-self: center;
  height: 100%;
  display: grid;
  grid-template-rows: auto;
  width: 100%;
  .closebtn {
    align-self: end;
  }
}

#confirmation h1,
#confirmation h2 {
  font-size: 4rem;
  font-weight: 500;
  text-transform: uppercase;
}

#confirmation h3 {
  font-size: 1.2rem;
  font-weight: 400;
}

#confirmation p {
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
}

.closebtn {
  @include roots.button;
}
