@mixin industry() {
  font-family: "IndustryW00-Book";
}
@mixin sedgwick() {
  font-family: "Sedgwick Ave";
}

@mixin raleway() {
  // font-family: "Playfair Display", serif;
  font-family: "Raleway", sans-serif;
}
@mixin playfair() {
  font-family: "Playfair Display", serif;
}
