//hourglass rotate
.rotation {
  animation: hourglass 7s ease-in infinite forwards;
  animation-delay: 1s;
}

@keyframes hourglass {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(190deg);
  }
  22% {
    transform: rotate(170deg);
  }
  24% {
    transform: rotate(186deg);
  }
  26% {
    transform: rotate(174deg);
  }
  28% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }
  70% {
    transform: rotate(370deg);
  }
  72% {
    transform: rotate(350deg);
  }
  74% {
    transform: rotate(366deg);
  }
  76% {
    transform: rotate(354deg);
  }
  78% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//queue pulse

.pulse {
  animation: pulse 0.8s infinite ease-in-out alternate;
}
@keyframes pulse {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

//Orders being made rotate

.rotate {
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
