@use "partials/roots";
#loginscreen {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1200;
  background-color: white;
  top: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 200px auto;
  justify-items: center;
  align-items: center;
  transition: 700ms top cubic-bezier(0.42, 0.02, 0.52, 0.96);
  overflow-x: scroll;
  img {
    height: 100%;
    max-height: 180px;
  }

  .cont {
    align-self: start;
    margin-bottom: 3rem;
    text-align: center;
  }
}

#loginscreen.active {
  top: -100vh;
}
form {
  align-self: baseline;
  width: 100%;
}

form#login {
  align-self: center;
}

.fadeObjectOut {
  animation: fade-out 1s ease-in-out forwards;
}
.fadeObjectIn {
  animation: fade-in 500ms ease-in-out forwards;
}
#registerform img {
  display: block;
  margin: 0 auto;
  transform: scale(5);
}
@keyframes fade-out {
  from {
    opacity: 1;
    // transform: scale(1);
  }
  to {
    opacity: 0;
    // transform: scale(0);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
    // transform: scale(1);
  }
  to {
    opacity: 1;
    // transform: scale(0);
  }
}

//form buttons styles

.register:hover {
  background: #6288cf !important;
  color: #fff !important;
}

.signin:hover {
  background: #6288cf !important;
  color: #fff !important;
}

.showsignin {
  background: white !important;
  color: #777 !important;
}

.showsignin:hover {
  background: #6288cf !important;
  color: #fff !important;
}

.registeruser {
  background: #2d3b55 !important;
  color: #fff !important;
}

.registeruser:hover {
  background: #6288cf !important;
  color: #fff !important;
}

// login-form

input {
  width: 100%;
  min-width: 100px;
  padding: 0.65rem 0.6rem 0.55rem;
  display: block;
  background-color: rgb(255, 251, 253);
  margin: 0.2rem 0 0.2rem 0;
}

input::placeholder {
  color: rgb(138, 138, 138);
  font-size: 0.4rem;
}

label {
  color: black;
  font-weight: 800;
  font-size: 0.9rem;
}
#paymentform input,
#registerform input,
#login input {
  width: 100%;
  min-width: 100px;
  padding: 0.65rem 0.6rem 0.55rem;
  display: block;
  border: 1px solid var(--color-9);
  background-color: #fffbfd;
  margin: 0.2rem 0 0.2rem 0;
}

button.disabled {
  pointer-events: none;
  filter: opacity(0.7) grayscale(0.6);
}

input::placeholder {
  color: rgb(138, 138, 138);
  font-size: 0.8rem;
  text-transform: lowercase;
}

form span {
  font-size: 0.7rem;
  color: rgb(138, 138, 138);
  padding: 0 0 0.3rem 0;
  transform: translateX(-123px) translateY(-57px);
}

input:valid:not(input#check_email):not(#consent),
input:valid:not(:focus):not(:placeholder-shown),
input.valid:not(:focus):not(:placeholder-shown) {
  background: url(/static/billeder/yes3.png) no-repeat scroll 7px 7px;
  background-size: contain;
  background-size: 15px;
  background-position: 98% 50%;
}

input:invalid:not(:focus):not(:placeholder-shown):not(#consent):not(#check_email),
input.invalid:not(:focus):not(#consent):not(#check_email) {
  background: url(/static/billeder/no.png) no-repeat scroll 7px 7px;
  background-size: contain;
  background-size: 15px;
  background-position: 98% 50%;
}

.welcome {
  font-size: 1.5rem;

  margin-bottom: -3rem;
  padding-bottom: 2rem;
}

.content {
  @include roots.padding15;
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

.input-field {
  padding: 12px 5px;

  .labelcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
  }
  label {
  }
  input {
    font-size: 16px;
    display: block;
    font-family: "Rubik", sans-serif;
    width: 100%;
    padding: 10px 1px;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
    transition: all 0.2s;
    &::placeholder {
      text-transform: capitalize;
    }

    &:focus {
      border-color: #222;
    }
  }
}

a.link {
  font-size: 0.7rem;
  text-decoration: none;
  color: #747474;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  display: inline-block;

  /* margin-top: 20px; */
  float: right;
}

#forgotpassword {
  display: block;
  align-content: center;
  position: absolute;
  top: 0;
  background-color: white;

  width: 100vw;
  height: 100vh;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

#forgotpassword iframe {
  width: 100%;
  height: 40vh;
}
#forgotpassword h1 {
  margin-bottom: 30px;
  margin-top: 40px;
  color: black;
  font-size: 2em;
  padding: 2rem;
}

#forgotpassword h1 span {
  margin-bottom: 30px;
  margin-top: 30px;
  color: red;
  font-size: 3rem;
  font-weight: 400;
}

#forgotpassword img {
  transform: scale(5);
  height: 100%;
  max-height: 180px;
  width: auto;
  width: auto;
  display: block;
  margin: 0 auto;
  margin-top: 70px;
}

.action {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  button {
    width: 100%;
    border: none;
    padding: 18px;
    font-family: "Rubik", sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #e8e9ec;
    color: #777;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    letter-spacing: 0.2px;
    outline: 0;
    transition: all 0.3s;

    &:hover {
      background: #d8d8d8;
    }

    &:nth-child(2) {
      background: #2d3b55;
      color: #fff;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 4px;

      &:hover {
        background: #3c4d6d;
      }
    }
  }
}

.hide {
  display: none;
}

#paymentform,
#registerform,
#login {
  .invalid_text {
    font-size: 0.7rem;
    margin: 0;
    padding: 0;
    color: #dd2b21;
    display: inline;
  }

  .invalid_text {
    display: none;
  }

  .invalid + .invalid_text {
    display: table;
  }

  input:valid {
    background: url(/static/billeder/yes3.png) no-repeat scroll 7px 7px;
    background-size: contain;
    background-size: 23px;
    background-position: 99.3% 70%;
  }
}
