@use "partials/roots";
@use "partials/fonts";

nav {
  z-index: 200;
  position: fixed;
  top: 0;
  background: darkorange;

  border-bottom: 1px solid var(--color-1);
  height: var(--nav-height);
  width: 100%;
  overflow: initial;
}
.nav-container {
  height: var(--nav-height);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: var(--nav-height);
  justify-content: center;
  align-items: center;

  background: #4558c0;
  z-index: 3000;

  a {
    justify-self: center;
  }
}

nav .label {
  grid-column: 2 / span 3;

  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
}

.mobile-menu-dropdown {
  position: fixed;
  z-index: 998;
  color: black;
  background-color: #b8c6db;
  background-image: linear-gradient(180deg, #eceff5 0, #fafafa 94%);
  height: 100vh;
  display: inline-block;
  transition: 300ms right ease-in-out;
  width: 100%;
  top: 0;
  right: -150%;
  display: block;

  .logoM {
    padding: 0;
    text-align: center;

    img {
      height: 150px;
      width: auto;
    }
  }
}
.shadow {
  box-shadow: -12px 3px 21px -8px rgba(31, 31, 31, 0.76);
}

.mobile-menu-dropdown.active {
  right: 0;
}

.atags-mobile-menu a {
  list-style: none;
  text-decoration: none;
  color: black;

  padding: 2rem;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
}
#nav h2 {
  padding: 2rem;
  font-size: 1.2rem;
}
.atags-mobile-menu {
  padding: 1.5rem;
  display: grid;
  text-align: left;
  width: 100vw;
  justify-content: left;
  height: calc(100vh - var(--nav-height));
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 180px 80px 80px 80px;
}

.atags-mobile-menu a:nth-child(n + 2) {
  width: 80%;
}
/* burgermenu'en & span's rotationer  -START- */
.menu__toggler {
  z-index: 999;
  grid-column: 5;
  outline: none;
  cursor: pointer;
  align-self: center;
  justify-self: center;
  padding-right: 2rem;
  height: 100%;
  width: 100%;
}

.menu__toggler span {
  position: absolute;
  content: "";
  top: 50%;

  width: 28px;
  height: 2.5px;
  background: white;
  border-radius: 20px;
  transition: 300ms ease-in-out;
  margin-left: 21px;
}
.menu__toggler span::before,
.menu__toggler span::after {
  position: absolute;
  content: "";
  top: 50%;

  width: 28px;
  height: 2.5px;
  background: white;
  border-radius: 20px;
  transition: 300ms ease-in-out;
}

.menu__toggler span::before {
  top: -8px;
}

.menu__toggler span::after {
  top: 8px;
}

.menu__toggler.active > span {
  background: transparent;
}

.menu__toggler.active > span::before,
.menu__toggler.active > span::after {
  background: black;
  filter: contrast(11);
  top: 0px;
}

.menu__toggler.active > span::before {
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
}

.menu__toggler.active > span::after {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}
