#product-details {
  padding-top: 1rem;
  position: absolute;
  z-index: 998;
  color: black;
  background: var(--background);
  min-height: 100vh;
  max-height: 100vh;
  overflow: scroll;

  display: inline-block;
  transition: 500ms top cubic-bezier(0.42, 0.02, 0.52, 0.96);

  width: 100%;
  top: -100%;
  right: 0;
  display: block;

  .close {
    position: absolute;
    /* padding-top: 1rem; */
    padding-left: 1rem;
  }

  .wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;

    padding-top: 1rem;
    padding-bottom: 0.2rem;
    border-bottom: 0.5px solid grey;
  }
  .container p:first-child {
    font-weight: 300;
  }

  img {
    /* ******  Style1;****** */

    justify-self: center;
    height: 125px;
    border-radius: 50%;
    border: 2px solid black;
    /*     background-size: contain;
    min-height: 50px;
    min-width: 30px;
    height: 100px;
    width: 100px;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
    max-width: 100vw; */
  }

  .bot-container {
    h1 {
      font-size: 0.9rem;
      padding-top: 1rem;
    }
    p {
      font-size: 0.7rem;
      padding-top: 0.2rem;
    }
  }
}
#product-details.active {
  top: 0;
  position: fixed;
  max-height: 100vh;
  min-height: 100vh;
  overflow: scroll;
}

#product-details .button {
  background: #6288cf !important;
  color: #fff !important;
  height: 5vh;
  margin-top: 1rem;
}
