@use "partials/fonts";
@use "partials/roots";

#products {
  display: grid;
  .headline {
    height: 45px;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    color: white;
  }
  h1 {
    font-size: 0.9rem;
  }
  p {
    padding-top: 3px;
    font-size: 0.5rem;
    font-style: italic;
  }
}

#avaliable .container,
#notAvaliable .container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background: white;
  background-color: #b8c6db;
  background-image: linear-gradient(180deg, rgb(236, 239, 245) 0, #fafafa 94%);

  @include roots.padding1;

  article {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-template-columns: 1fr 0.4fr;
    grid-template-rows: auto;
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    max-width: 800px;
    justify-self: center;
    width: 100%;

    background: var(--color-7);
  }
  .product {
    width: 100%;
    display: grid;
    justify-content: center;
    justify-items: baseline;
    align-items: center;
    grid-gap: 1rem;
    grid-template-columns: auto 1fr;
  }

  .img-container {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    flex-basis: 150px;
    flex-grow: 1;
    justify-self: flex-start;
  }

  .count {
    font-size: 1.1rem;
    font-style: normal;
    padding: 0;
  }

  img {
    height: 40px;
    border: 2px solid black;
    border-radius: 50%;
    width: 40px;
  }

  /*  .img {
    border: 2px solid black;
    background-image: url("/static/imgs/elhefe.png");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    min-height: 50px;
    height: 100%;
    width: 100%;
    min-width: 50px;
    background-repeat: no-repeat;
  } */
  .desc-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .counter {
    div.plus,
    div.minus {
      font-size: 40px;
      transition: 150ms all;
    }
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;

    align-items: center;
  }
}

#products {
  .amount {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: cornflowerblue;
    color: white;
    justify-items: center;
    font-weight: 400;
    display: grid;
    align-items: center;
  }
  button {
    @include roots.button;
    text-transform: uppercase;
    font-weight: 500;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
  }
}
