@use "partials/fonts";
html {
  @include fonts.raleway;

  font-weight: 300;
}
img {
  width: auto;
  height: 40px;
}

:root {
  --nav-height: 8vh;

  --color-1: rgba(0, 128, 0, 0.274);
  --color-2: rgba(255, 0, 0, 0.356);
  --color-3: rgba(0, 0, 255, 0.246);
  --color-4: rgba(255, 255, 0, 0.438);
  --color-5: lightblue;
  --color-7: transparent;
  --color-9: black;
  --color-10: lightblue;
  --buttonB2: #6288cf;
  --buttonB: #7983ff;
  --buttonB3: #7983ff;

  --text: black;
  --background: snow;
  --background2: #38383d;
  --background3: #28313b;
  --background3: #33404e;
  --background4: #8693ab;
  // --background2: linear-gradient(315deg, #485461 0%, #28313b 74%);
  --headlineColor: rgba(128, 0, 128, 0.28);
}

.hide {
  display: none;
}

@mixin padding15 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@mixin padding1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
@mixin padding2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

@mixin button {
  background: var(--buttonB) !important;
  color: #fff !important;
  height: 55px;
  width: 100%;
  transition: 1s all;
  position: relative;
  bottom: 0;
  cursor: pointer;
  &:disabled {
    filter: grayscale(90%);
  }
}

@mixin lButtonLeft {
  width: 100%;
  border: none;
  padding: 18px;
  font-family: "Rubik", sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  background: #e8e9ec;
  color: #777;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
  letter-spacing: 0.2px;
  outline: 0;
  font-weight: 700;
  transition: all 0.3s;
}

@mixin lButtonRight {
  width: 100%;
  border: none;
  padding: 18px;
  font-family: "Rubik", sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2px;
  outline: 0;
  transition: all 0.3s;

  background: #2d3b55;
  color: #fff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 4px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
