html {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
img {
  width: auto;
  height: 40px;
}

:root {
  --nav-height: 8vh;

  --color-1: rgba(0, 128, 0, 0.274);
  --color-2: rgba(255, 0, 0, 0.356);
  --color-3: rgba(0, 0, 255, 0.246);
  --color-4: rgba(255, 255, 0, 0.438);
  --color-5: lightblue;
  --color-7: transparent;
  --color-9: black;
  --color-10: lightblue;

  --background: snow;
}

.hide {
  display: none;
}

@mixin padding15 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@mixin padding1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
@mixin padding2 {
  padding-left: 2rem;
  padding-right: 2rem;
}
